input {
  width: 100%;
  margin-bottom: 20px;
}

label {
  font-size: 20px;
  margin-bottom: 5px;
}

li {
  font-size: 18px;
}

select {
  height: 40px;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
}

textarea {
  width: 95%;
  height: 70px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

#app {
  position: relative;
}

.cart {
  font-size: 1rem;
  height: 3rem;
  padding: 0 2rem;
  width: fit-content;
}

.cart .btn-delete {
  visibility: hidden;
}
.cart:hover .btn-delete {
  visibility: visible;
}
.cart .btn-delete img {
  height: 1.6rem;
}
.cart p {
  color: var(--text);
  line-height: 1;
  margin: 0;
}

.out-of-stock-img {
  opacity:0.5
}

.product-display {
  padding: 2rem;
}
.product-container {
  gap: 3rem;
}

.product-header {
  align-items: baseline;
  justify-content: space-between;
}

.product-image {
  gap: 2rem;
  max-width: 30%;
}
.product-image img {
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  border: 2px solid #d8d8d8;
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
  width: 100%;
}
.product-info {
  max-width: 50%;
}

.review-form {
  display: flex;
  flex-direction: column;
  width: 425px;
  padding: 20px;
  margin: 40px;
  border: 2px solid #d8d8d8;
  background-color: white;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

.review-container {
  width: 425px;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 20px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 20px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 20px -12px rgba(0, 0, 0, 0.57);
  margin-left: 40px;
  border: 2px solid #d8d8d8;
}

.review-container li {
  margin-bottom: 30px;
}

.review-form .button {
  display: block;
  margin: 30px auto;
}

.stock {
  border: 2px solid currentColor;
  border-radius: 10rem;
  font-size: .9rem;
  font-weight: 800;
  line-height: 1;
  padding: 4px 24px;
  width: fit-content;
}

.top {
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .product-image,
  .product-info {
    margin-left: 10px;
    width: 100%;
  }

  .review-form {
    width: 90%;
  }
}

/* CUSTOM */
.color-selector {
  gap: 1rem;
  width: fit-content;
}
.color-selector-item {
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
}
.color-selector-item:hover {
  filter: brightness(90%);
}
.color-selector-item.blue {
  background-color: #536780;
}
.color-selector-item.green {
  background-color: var(--success);
}

.size {
  border: 1px solid slategray;
  border-radius: 4px;
  padding: 0;
  width: fit-content;
}
.size-item {
  cursor: pointer;
  padding: .4rem 0;
  width: 50px;
}
.size-item:hover {
  background-color: rgba(0, 0, 0, .1);
}
.size-item:not(.size-item:first-child) {
  border-left: 1px solid slategray;
  margin-left: -1px;
}
.size-item.active {
  background-color: var(--primary);
  color: white;
}
